.intro {
  margin-bottom: 48px;
  @include breakpoint('small') {
    margin-bottom: 64px;
  }
  h1 {
    font-size: 75px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 24px;
    color: var(--on-surface);
    font-weight: 400;
    @include breakpoint('small') {
      width: 100%;
      font-size: 100px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
    strong {
      color: var(--primary);
      font-weight: 500;
    }
  }
  h2 {
    font-size: 28px;
    line-height: 1.3;
    color: var(--on-surface);
    font-weight: 400;
    @include breakpoint('small') {
      width: 100%;
    }
  }
  p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--on-surface-variant);
    @include breakpoint('small') {
      width: 100%;
      font-size: 18px;
    }
  }
}
