{{ $title := print .Title " | " .Site.Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}

<meta property="og:title" content="{{ $title }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}" />
{{ else }}
<!-- Use a default image if none is specified -->
<meta property="og:image" content="{{ "favicon.png" | absURL }}" />
{{ end }}

<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}" />
{{ with .Params.image }}
<meta name="twitter:image" content="{{ . | absURL }}" />
{{ else }}
<meta name="twitter:image" content="{{ "favicon.png" | absURL }}" />
{{ end }}
