{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}

  <div class="intro">
    <h1>{{ .Title }}</h1>
    {{ if .Site.Params.showIntroContentOnHomepage}}
      <div class="intro-content">{{ .Content }}</div>
    {{ end }}
  </div>

  {{ if .Site.Params.showPostsOnHomepage }}

    {{ $pages := where .Site.RegularPages "Type" "posts" }}
    {{ $sorted := ($pages.ByParam "date").Reverse }}
    {{ if .Site.Params.sortPostsByDateOldestFirst }}
      {{ $sorted = $pages.ByParam "date" }}
    {{ end }}

    <!-- Display ALL posts without pagination -->
    {{ range $sorted }}
      {{ .Render "summary" }}
    {{ end }}

  {{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}